<!DOCTYPE html>
<html lang="fa">

<head>
    <title>هن</title>
    <meta charset="UTF-8">
    <style>
        /* توی فایل سی اس اس نمره اکپلین-توو بک گراند کالر نارنجی رو بردار .explane-two  */
        .welccome {
            text-align: center;
        }

        .manage {
            display: inline-block;
            padding: 5px;
            width: 100px;
            height: 120px;
            border-radius: 50%;
            box-shadow: 0 0 10px black;
            margin: 50px 0 0 20px;
        }
    </style>
</head>

<body>
    <a href="html/nomreh.html" class="manage"><img src="img/le.png" alt="آموزش"></a>
    <a href="html/nomreh.html" class="manage"><img src="img/ou.png" alt="شبکه"></a>
    <a href="html/nomreh.html" class="manage"><img src="img/sd.png" alt="رسانه"></a>
</body>

</html>